<navbar></navbar>

<h3><font color="white">Choose a group:</font></h3>
<div *ngFor=" let group of groups;let i=index">
        <button style="margin-bottom:3px;min-width:30%" class="btn btn-info" (click)="choose(i)">{{group.name}}</button><br>
</div>

<div *ngIf="groupChosen">
  <div *ngFor=" let student of students;let i=index">
          <button style="margin-bottom:3px;min-width:20%" class="btn btn-warning" (click)="student(i)">{{student.first_name}} {{student.last_name}}</button><br>
  </div>
</div>
