
<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <title>Learn words</title>
  <base href="/">

  </head>

  <body>
    <%- body %>

  <app-root>Loading app content...</app-root>


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
