
<div class="jumbotron text-center vertical-center" style="min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;">
	<div class="container">

            <button class="btn btn-success" (click)="setmode(0)" style="margin-bottom: 5%">Create new account</button>
            <br>
            <button class="btn btn-success" (click)="setmode(1)" style="margin-bottom: 5%">Administrator's panel</button>
            <br>
            <button class="btn btn-success" (click)="setmode(2)" style="margin-bottom: 5%">Other functionalities</button>

</div>
</div>
