<navbar></navbar>
<side-panel-lessons (lessonChosen)="handleLessonChosen($event)"></side-panel-lessons>
<style>
.table td {
   text-align: center;
}
</style>
<div class="container">
      <table class="table table-striped table-bordered table-hover table-condensed">
        <tr *ngFor=" let word of words; let i=index" [attr.data-index]="i">
          <th class="text-center">{{word.english}}</th>
          <th class="text-center">{{word.polish}}</th>
          <th class="text-center" style="width:10px">
            <button type="button" class="close danger" aria-label="Close" (click)="delete(i)">
              <span aria-hidden="false">&times;</span>
            </button>
          </th>
        </tr>



      </table>


  <div class="text-center">

      <input type="text"  name="english" [(ngModel)]="english" placeholder="english">
      <input type="text" name="polish" [(ngModel)]="polish" placeholder="polish"  (keyup.enter)="submit()"/>
      <button class={{buttonClass}} (click)="submit()">Submit</button>

  </div>
</div>
