<!--<div style="align: right width: 50%; margin: 0 auto;">
<button class="logout" (click)="logout()">Logout</button>
  <button class="choose_mode" (click)="chooseMode()" *ngIf="user_type=='student'">Switch learning mode</button>

</div>
 <div ng-controller="hello" class="welcome">Welcome {{user}}!</div>
<br>
<hr>
-->

<nav class="navbar navbar-default">
  <div class="container-fluid">
      <a href="#" class="navbar-brand"><img src="assets/logo.ico"  width="100" height="80"></a>

    <div>
      <ul class="nav navbar-nav">
        <li>
          <a href="/teacher-create-lesson">Create a lesson</a>
        </li>
        <li>
          <a href="/teacher-words-panel">Add words to lesson</a>
        </li>
        <li>
          <a href="/teacher-add-students">Assign lessons to students</a>
        </li>
        <li>
          <a href="/teacher-student-progress">See students' progress</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
