<nav class="navbar navbar-toggleable-sm navbar-inverse " >


      <ul class="nav navbar-nav">
        <li>
          <a class="logo" (click)="navigate(0)"><img src="assets/logo.png"  width="55" height="51"></a>
        </li>
        <li *ngIf="isAdmin">
          <a class="tab" (click)="navigate(1)">       Create a group       </a>
        </li>

        <li *ngIf="isAdmin">
          <a class="tab" (click)="navigate(2)">       Register new user      </a>
        </li>
        <li *ngIf="isAdmin">
          <a class="tab" (click)="navigate(3)">     Add users to groups     </a>
        </li>
        <li>
          <a class="tab" (click)="navigate(4)">       See all lessons       </a>
        </li>
        <li>
          <a class="tab" (click)="navigate(5)">       Create a lesson       </a>
        </li>

        <li>
          <a class="tab" (click)="navigate(6)">     Add words to lesson     </a>
        </li>
        <li *ngIf="isAdmin">
          <a class="tab" (click)="navigate(7)"> Assign lessons to students </a>
        </li>
        <li>
          <a class="tab" (click)="navigate(8)">   See students' progress   </a>
        </li>
        <li  style="float: right;">
          <a class="tab" (click)="navigate(9)">   Logout   </a>
        </li>
      </ul>
</nav>
